.addAdminBody {
  width: 100%;
  overflow-y: auto;
  height: 95%;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  z-index: 1;
}

.addAdminControl {
  position: relative;
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btnAdmin {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  border-radius: 35px;
  background-color: var(--clr-primary-2);
  color: #fff;
  padding: 6px 20px;
  margin-top: 5px;
}

.btnAdmin:active {
  outline: none;
  transform: scale(0.95);
}

.actionButtons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

/* SEARCH BAR */
.searchBar {
  --padding: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background-color: #e4e2e2;
  margin-left: 10px;
  /* transition: background 0.25s; */
  transition: box-shadow 0.25s;
}

.searchBar:focus-within {
  /* background: #f1f1f1; */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.searchInput {
  font-size: 16px;
  font-family: var(--ff-primary);
  color: #222222;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 200px;
}

.searchInput::placeholder,
.searchIcon {
  color: rgba(0, 0, 0, 0.25);
}
/* END SEARCH BAR */
/* START TABLE SECTION */
.addAdminTable {
  width: 100%;
  height: auto;
  /* overflow-y: auto; */
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 30px;
}

.tableBody {
  font-family: var(--ff-primary);
  font-size: 14.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, o.1);
  /* overflow: hidden; */
}

th,
td {
  padding: 8px;
  text-align: center;
  /* border-bottom: 1px solid var(--clr-grey-8); */
}

th {
  background: #34495e;
  color: #fff;
  text-transform: uppercase;
}

tr:hover {
  background: #ffffff;
}

tr:nth-child(even) {
  background-color: var(--clr-grey-9);
}

td {
  color: #333;
}

input[type="checkbox"] {
  accent-color: var(--clr-primary-2);
  width: 18px;
  height: 18px;
  outline: none;
}

.tagGreen {
  background-color: #34495e;
  color: #fff;
  border-radius: 20px;
  padding: 1px 10px;
}

.tagRed {
  background-color: var(--clr-primary-2);
  color: #fff;
  border-radius: 20px;
  padding: 1px 8px;
}

/* END TABLE SECTION */
.sideButton {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 8px;
  background: transparent;
  color: #000000;
  padding: 6px 10px;
  margin-top: 5px;
}

.sideButton:hover {
  background-color: var(--clr-primary-2);
  color: #fff;
}

.actionIcon {
  cursor: pointer;
}

.actionHere {
  padding: 2px;
}

.actionHere:hover {
  /* padding: 4px; */
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background-color: var(--clr-primary-2);
}

/* PAGINATION */

.paginationBody {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 35px;
}

.pagination {
  list-style: none;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* margin-bottom: 5rem; */
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 4px 9px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: var(--clr-primary-2);
  color: #fff;
}

.pagination .active {
  background-color: var(--clr-primary-2);
  color: #fff;
}
/* END PAGINATION */

.noRecord {
  position: relative;
  text-align: center;
  width: 100%;
}

/* ADDING THE COMMENT LIKE SHAPE ON  TABLE CONTENT OPTION*/
.selectedItemIdClass {
  position: relative;
  display: inline-block;
}

.dropdownBox {
  position: absolute;
  top: -100%; /* your current positioning */
  right: 60%;
  transform: translateY(-110%);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 99999;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 230px;
}

.dropdownBox::after {
  content: "";
  position: absolute;
  top: 99%;
  right: 25px;
  z-index: 99999999;
  border-width: 15px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  /* filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1)); */
}
/* ADDING THE COMMENT LIKE SHAPE ON  PAGINATION*/
.selectPerPageClass {
  position: relative;
  display: inline-block;
}

.dropDownPagination {
  position: absolute;
  bottom: 100%;
  left: 0%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 99999;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 160px;
}
.dropDownPagination::after {
  content: "";
  position: absolute;
  bottom: -22%;
  left: 29px;
  z-index: 99999999;
  border-width: 15px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  /* filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1)); */
}

/* PAGE TITLE */
.pageTitle {
  font-family: var(--ff-primary);
  color: gray;
  margin: 0 0 15px 10px;
  /* text-decoration: underline; */
  font-size: 1rem;
  font-weight: 600;
}
