.generalContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.userContainer {
  display: inline-block;

  width: 100%;
  height: 100vh;
  background-color: var(--clr-grey-8);
}
