.side-nav-container {
  background-color: #2c3e50;
  width: 240px;
  height: 100vh;
  /* display: flex; */
  position: relative;
  color: white;
  transition: 0.1s ease;
}

/* .side-nav-container {
  background-color: #2c3e50;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
} */

.side-nav-container-close {
  width: 60px;
}

.nav-upper,
.nav-heading {
  display: grid;
}

.nav-heading {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  height: 75px;
  margin-top: 40px;
}

.nav-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-left: 60px;
}

.nav-brand img {
  width: 100px;
}

.nav-brand h4 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  color: white;
  line-height: normal;
  letter-spacing: 0;
  font-weight: bold;
}

.hamburger {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto -23px;
  background-color: #34495e;
  border: 2px solid hsl(0, 0%, 82%);
  padding: 3px;
  border-radius: 90px;
  height: 45px;
  width: 48px;
  z-index: 3;
}

.hamburger span {
  display: block;
  margin: 4px 0 0 7px;
  background-color: white;
  border-radius: 15px;
  height: 3px;
  width: 25px;
  transition: 0.4s;
}

.barGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8px 4px 0;
}

.hamburger-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}

.hamburger-in:hover span:nth-child(2) {
  display: none;
}

.hamburger-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(2) {
  display: none;
}

.hamburger-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(30deg);
}

.hamburger:hover span {
  margin: auto;
}

.line {
  width: 100%;
  height: 2px;
  background-color: hsl(0, 0%, 82%);
  margin-top: 20px;
}

.nav-menu {
  margin-top: 0;
}

.howLong {
  height: calc(100vh - 213px);
  overflow-x: auto;
  /* Firefox scrollbar style */
  scrollbar-width: thin;
  scrollbar-color: #1d1b31 transparent;
}

/* Chrome, Edge, Safari */
.howLong::-webkit-scrollbar {
  width: 6px; /* thinner scrollbar */
}

.howLong::-webkit-scrollbar-track {
  background: transparent; /* track background */
}

.howLong::-webkit-scrollbar-thumb {
  background-color: #1d1b31; /* scrollbar color */
  border-radius: 10px; /* rounded edges */
}

/*  */

.rotate {
  transform: rotate(90deg);
}

.dropdown {
  position: relative;
  right: 0;
  margin: 0 20px 0 0;
  font-size: 13px;
  transition: var(--fast-transition);
}

/*  */

.icon-img {
  font-size: 20px;
}

.menu-texts {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14.3px;
  text-transform: capitalize;
  text-align: center;
}

.menuOptions:hover > .tooltip,
.menuOptionsContent:hover > .tooltip,
.nav-details:hover > .tooltip,
.menuOptionsContentSmall:hover > .tooltip {
  display: block;
  z-index: 99999;
}

.tooltip {
  display: none;
  position: absolute;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14.5px;
  left: 99%;
  width: auto;
  padding: 4px 8px;
  border-radius: 15px 15px 15px 0;
  white-space: nowrap;
  border: 2px solid white;
  background-color: #34495e;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #34495e;
}

.nav-details {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav-footer-info {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
}

.nav-footer-user-name {
  font-size: 15px;
  font-weight: 900;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  padding-bottom: 5px;
}

.nav-footer-user-position {
  font-size: 15px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

  margin-top: -10px;
  color: gray;
}

.power-icon {
  font-size: 22px;
  padding: 15px;
  border-radius: 50%;
}

.power-icon:hover {
  color: white;
  cursor: pointer;
}

/* NEW CSS */

.menuOptions {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}

/* makes the parent with dropdown background changes on hover */
.menuOptions:hover {
  background: #5a6f85;
}

/* makes the child i.e. dropdown background changes on hover */
.dropdown-menuOptions:hover {
  background: #5a6f85;
}

.dropdown-menuOptions.active {
  background-color: #5a6f85;
}

.dropdown-singleMenu:hover {
  background: #5a6f85;
}

.dropdown-singleMenu.active {
  background-color: #5a6f85;
}

/* Active drop down */
.menuOptions.active {
  background-color: #5a6f85;
}

.dropdown-menuOptions {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  text-decoration: none;
  color: #fff;
  background-color: #1d1b31;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}

.menuOptionsContent {
  /* margin: 0 auto; */
  padding-left: 17px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.menuOptionsContentSmall {
  margin: 0 auto;
  /* padding-left: 30px; */
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.dropdown-singleMenu {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}

.sideMenuNew {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.sideMenuNew.open {
  max-height: 500px;
}
